<div class="bg_profil">
    <div class="student_message_title">
        <h1>FAQ</h1>
    </div>
    <%= link_to settings_path do%>
      <div class="backto_msg tooltip">
        <span>Kliknij aby wrócić do ustawień</span>
      </div>
    <% end %>
    <div class="faq_content">
        <h3>Tutaj znajdziesz wszystkie potrzebne wskazówki jak korzystać z serwisu<h3>
        <h4>Mapa świata</h4>
        <p>Wczuj się w rolę odkrywcy a to jest twoja mapa. Kolejne jej elementy będziesz odkrywać przy kolejnych zajęciach, 
        a ich daty są ustalane przez twojego wykładowce. Każdy punkt na mapie odpowiada jednym zajęciom, są to krainy, 
        w których znajdują się zadania na które musisz udzielić odpowiedzi</p>
        <h4>Rozwiązywanie zadań</h4>
        <p>Na mapach krainy rozmieszczone jest pięć zadań. Przy treści zadania widnieją podpowiedzi z których możesz skorzystać. 
        Każde zadanie możesz wysyłać wielokrotnie, jednak do sprawdzenia trafi ostatnie rozwiązanie i musisz pamiętać 
        by mieścić się w terminach. </p>
        <h4>W razie problemów</h4>
        <p>W razie problemów z zadaniem możesz skożystać z komunikatora aby napsać wiadomość do swojego wykładowcy, 
        na pewno chętnie rozwieje twoje wątpliwości.</p>
        <h4>Praca po godzinach</h4>
        <p>Dodatkowe punkty można zdobyć utrwalając wiedzę zdobytą na zajęciach w dodatkowych zadaniach. Udział w nich
        nie jest obowiązkowy.</p>
        <h4>Panel Użytkownika</h4>
        <p>W panelu widnieją informacje twojego postępu. 
        Pasek hp: życie tracisz za nieobecności, rozwiązania które nie uzyskały maksymalnej liczby punktów oraz za brak rozzwiązań.
        Pasek exp: dzięki niemu możesz zaobsrerwować ile punktów Ci brakuje by być najlepszym.
        Punkty rankingowe: to suma wyników rozwiązań zadań.
        Pozycja w rankingu światowym oraz grupowym. 
        Więcej szczegółowych informacji na temat postępu znajdziesz klikając na avatar.
        Podczas nauki jak na wojnie... może zabraknąć ci życia, dlatego też przygotowaliśmy dla ciebie leczniczą mimlsturę. 
        Możesz ją wymienić za 20 punktów rankingowych. Musisz być czujny bo jeśli pasek życia spadnie do zera stracisz jedną czwartą
        zdobytych punktów. Nasz zespół trzyma kciuki żeby do tego nie doszło. Powodzenia!</p>
        
    </div>
</div>