/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/login.css.sass */
.bg_login {
  margin: 0 auto;
  text-align: left;
  width: 600px;
}

/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/login.css.sass */
.bg {
  height: auto;
  left: 0;
  min-height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* line 15, /home/ubuntu/workspace/app/assets/stylesheets/login.css.sass */
.form_login, .form_login_first {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 247px;
  position: absolute;
  z-index: 2;
  text-align: center;
}

/* line 26, /home/ubuntu/workspace/app/assets/stylesheets/login.css.sass */
.form_login_first {
  height: 700px;
  width: 260px;
}
/* line 29, /home/ubuntu/workspace/app/assets/stylesheets/login.css.sass */
.form_login_first .log_out_btn {
  width: 190px;
  height: 45px;
  border-radius: 10px;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  border: solid 5px black;
  background-color: #d67c12;
  z-index: 100;
}
/* line 39, /home/ubuntu/workspace/app/assets/stylesheets/login.css.sass */
.form_login_first .log_out_btn a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
  padding-top: 13px;
}

/* line 47, /home/ubuntu/workspace/app/assets/stylesheets/login.css.sass */
.input_login, .input_password, .input_email, .input_name, .input_lastname {
  width: 190px;
  height: 35px;
  border-radius: 10px;
  border: solid 5px;
  background-color: #fceedd;
  margin-bottom: 10px;
}

/* line 55, /home/ubuntu/workspace/app/assets/stylesheets/login.css.sass */
.button_login, .button_update, .button_logout {
  width: 200px;
  height: 55px;
  border-radius: 10px;
  margin-top: 33px;
  border: solid 5px;
  background-color: #d67c12;
  z-index: 100;
}

/* line 64, /home/ubuntu/workspace/app/assets/stylesheets/login.css.sass */
.label_font {
  font-family: Viking;
  font-size: 24px;
}
/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 24, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 29, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 33, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 39, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 47, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 58, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_student {
  position: absolute;
  min-height: 100%;
  max-height: 1600px;
  width: 100%;
  top: 0;
  background: url("/assets/student/bg_wood-7ac6350d2e09404c27107aca91aa55fed42f857ecb8b880a0bcf50ce16b36355.jpg") no-repeat 50% 50%;
  z-index: -1;
}

/* line 9, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_header {
  width: 1200px;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-family: Viking;
  color: #000;
}
/* line 17, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_header a:hover, .student_header a:active, .student_header a:visited, .student_header a:link {
  text-decoration: none;
  color: #000;
}

/* line 20, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_avatar {
  position: relative;
  float: left;
  background: url("/assets/student/avatar-565f648a556618d3fd2b765e703aca7334fb380effdcf736b7224343570b2955.png") no-repeat;
  width: 290px;
  height: 351px;
}
/* line 26, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_avatar a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 30, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_avatar a span {
  text-align: justify;
  width: 250px;
  margin-top: 360px;
}
/* line 35, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_avatar .student_name h2, .student_avatar .student_lastname h2 {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 18px;
}
/* line 44, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_avatar .student_name h2 {
  bottom: 45px;
}
/* line 47, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_avatar .student_lastname h2 {
  bottom: 15px;
}

/* line 49, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_statistic {
  float: left;
  background: url("/assets/student/bg_statistic-b57e56de87e4d1151c267182f9b5e98806d117840973b3c60bfb266784db27d0.png") no-repeat;
  width: 600px;
  height: 351px;
  margin: 0 25px;
}
/* line 55, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_statistic .student_pustak {
  float: left;
}
/* line 57, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_statistic .student_hp_potion {
  float: right;
  width: 100px;
  height: 48px;
  margin-right: 80px;
  margin-top: 50px;
}
/* line 63, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_statistic .student_hp_potion a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 67, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_statistic .student_hp_potion a span {
  margin-top: -30px;
  margin-left: 28px;
  width: 230px;
}
/* line 71, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_statistic .student_hp_potion h3 {
  display: inline-block;
}
/* line 73, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_statistic .student_hp {
  float: left;
  margin-left: 70px;
  margin-top: 50px;
}
/* line 77, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_statistic .student_exp, .student_statistic .student_lvl {
  float: left;
  margin-left: 70px;
}
/* line 80, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_statistic .student_exp span, .student_statistic .student_lvl span {
  text-align: justify;
  margin-left: -190px;
  margin-top: -70px;
  width: 130px;
}
/* line 85, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_statistic .student_pkt_rank {
  float: right;
  margin-right: 80px;
}
/* line 88, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_statistic .student_pkt_rank span {
  text-align: justify;
  margin-left: 240px;
  margin-top: -70px;
  width: 230px;
}
/* line 93, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_statistic .student_rank_world {
  float: left;
  margin-left: 150px;
  margin-top: -20px;
  text-align: center;
  font-weight: bold;
}
/* line 99, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_statistic .student_bg_rank_world, .student_statistic .student_bg_rank_group {
  background: url("/assets/student/rank-9dfc0a6c60030a1a30e940ccb4c414fbf4fb48a4791ef5a752e8dff16499fcf7.png") no-repeat;
  width: 86px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
/* line 105, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_statistic .student_bg_rank_world h1, .student_statistic .student_bg_rank_group h1 {
  vertical-align: middle;
  line-height: 50px;
}
/* line 108, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_statistic .student_bg_rank_world .rank, .student_statistic .student_bg_rank_group .rank {
  font-family: Viking;
}
/* line 110, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_statistic .student_rank_group {
  margin-top: -20px;
  float: right;
  margin-right: 130px;
  text-align: center;
  font-weight: bold;
}

/* line 117, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_statistic .progress_hp, .student_statistic .progress_exp {
  float: left;
  margin-left: 70px;
  width: 450px;
  height: 20px;
  border: solid 3px;
  border-radius: 13px;
  background: rgba(0, 0, 0, 0.15);
}
/* line 125, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_statistic .progress_hp_bar, .student_statistic .progress_exp_bar {
  height: 20px;
  border-radius: 13px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}
/* line 132, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_statistic .progress_hp_bar {
  background: -webkit-linear-gradient(#ffdbdb, #ff0000);
  background: -o-linear-gradient(#ffdbdb, #ff0000);
  background: -moz-linear-gradient(#ffdbdb, #ff0000);
  background: linear-gradient(#ffdbdb, #ff0000);
}
/* line 137, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_statistic .progress_exp_bar {
  background: -webkit-linear-gradient(#eff6e1, #7bb805);
  background: -o-linear-gradient(#eff6e1, #7bb805);
  background: -moz-linear-gradient(#eff6e1, #7bb805);
  background: linear-gradient(#eff6e1, #7bb805);
}

/* line 142, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_other {
  float: right;
  background: url("/assets/student/bg_other-9698ab8f23bd0963a1a91306abbee87045f04dfdb312e0e31d649c1d7f47d4b4.png") no-repeat;
  width: 260px;
  height: 351px;
}
/* line 147, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_other a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 151, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_other h3 {
  display: inline-block;
}
/* line 153, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_other .student_log_out {
  width: 52px;
  height: 50px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
/* line 160, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_other .student_log_out .log_out span {
  text-align: justify;
  width: 50px;
  margin-left: -20px;
}
/* line 164, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_other .student_message {
  width: 69px;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* line 171, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_other .student_message .message span {
  text-align: justify;
  width: 240px;
  margin-left: -110px;
}
/* line 176, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_other .student_message .new_message span {
  text-align: justify;
  width: 240px;
  margin-left: -110px;
}
/* line 180, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_other .student_challenge {
  width: 63px;
  height: 72px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* line 187, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_other .student_challenge .challenge span {
  text-align: justify;
  width: 240px;
  margin-left: -110px;
}
/* line 192, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_other .student_challenge .new_challange span {
  text-align: justify;
  width: 150px;
  margin-left: -60px;
}

/* line 197, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.tooltip {
  outline: none;
}
/* line 199, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.tooltip span {
  z-index: 10;
  display: none;
  padding: 14px 20px;
  line-height: 16px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 5px 5px 8px #000;
  -webkit-box-shadow: 5px 5px 8px #000;
  box-shadow: 5px 5px 8px #000;
}

/* line 210, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.tooltip:hover {
  text-decoration: none;
}
/* line 212, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.tooltip:hover span {
  display: inline;
  position: absolute;
  color: #fff;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: Helvetica;
}

/* line 220, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map {
  width: 1200px;
  height: 987px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-family: Viking;
  color: #000;
  background: url("/assets/student/bg_map-03dfcae91866b990f70e7c8ed3beacbed7d376ad518040f86a578f9e2f4af42f.png");
  z-index: 1;
}
/* line 230, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map .student_lesson1 {
  float: left;
  background: url("/assets/student/lesson1-c94e12b76f8f8d51bf2103d907474d2cd298f32cdf1c2e57306b9f9574efa665.png");
  width: 552px;
  height: 408px;
  margin-left: 50px;
  margin-top: 20px;
  z-index: 2;
}
/* line 238, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map .student_lesson1 .mark_lesson1 {
  position: relative;
  margin-top: 260px;
  margin-left: 178px;
}
/* line 242, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map .student_lesson2 {
  float: right;
  background: url("/assets/student/lesson2-af700da2e806369a76e1a34e3bce6d5f3e8e62d10c23dd33c4e2ea4a9d35b928.png");
  width: 721px;
  height: 258px;
  margin-top: -300px;
  margin-right: 274px;
  z-index: 3;
}
/* line 250, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map .student_lesson2 .mark_lesson2 {
  position: relative;
  margin-top: 125px;
  margin-left: 580px;
}
/* line 254, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map .student_lesson3 {
  float: right;
  background: url("/assets/student/lesson3-c5b248f1749a12c92ae46973ba376026bedfc7e21e72678529235ca0554e67f1.png");
  width: 822px;
  height: 521px;
  margin-top: -148px;
  margin-right: 52px;
  z-index: 4;
}
/* line 262, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map .student_lesson3 .mark_lesson3 {
  position: relative;
  margin-top: 190px;
  margin-left: 680px;
}
/* line 266, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map .student_lesson4 {
  float: left;
  background: url("/assets/student/lesson4-55231886b70705e226ffb54627dccb4b0e0ada26a7a95ea1372cd84f33903cdb.png");
  width: 1024px;
  height: 469px;
  margin-top: -315px;
  margin-left: 96px;
  z-index: 5;
}
/* line 274, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map .student_lesson4 .mark_lesson4 {
  position: relative;
  margin-top: 340px;
  margin-left: -115px;
}
/* line 278, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map .student_lesson4 .mark_lesson4_ok {
  position: relative;
  margin-top: 340px;
  margin-left: 200px;
}
/* line 282, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map .student_lesson5 {
  float: left;
  background: url("/assets/student/lesson5-6ea93582d43e7f44cc7c61c578baf7e690a3492fce93794821ae2a9024726516.png");
  width: 534px;
  height: 232px;
  margin-top: -285px;
  margin-left: 315px;
  z-index: 6;
}
/* line 290, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map .student_lesson5 .mark_lesson5 {
  position: relative;
  margin-top: 135px;
  margin-left: 290px;
}
/* line 294, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map .student_lesson6 {
  float: right;
  background: url("/assets/student/lesson6-f70e81c7a0532891e3b61306a6c1861ba429694855bd36fcfd79921a273d2ed7.png");
  width: 509px;
  height: 341px;
  margin-top: -389px;
  margin-right: 48px;
  z-index: 7;
}
/* line 302, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map .student_lesson6 .mark_lesson6 {
  position: relative;
  margin-top: 236px;
  margin-left: 190px;
}

/* line 306, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.okmark, .xmark {
  display: block;
  width: 70px;
  height: 40px;
  z-index: 10;
}

/* line 313, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map .back_button {
  float: left;
  background: url("/assets/student/back-6157859b0db230edc6f06777c8bc449d34225cbe90c8180e3524946a4ac33e32.png");
  width: 95px;
  height: 92px;
  margin-top: 92px;
  margin-left: 134px;
}
/* line 320, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map .back_button a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 324, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map .back_button span {
  text-align: justify;
  width: 120px;
  margin-left: -35px;
}
/* line 328, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map .student_lesson_title {
  float: left;
  margin-top: 100px;
  margin-left: 256px;
  text-align: center;
}
/* line 333, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map .student_lesson_title h1 {
  font-size: 40px;
}
/* line 335, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map .lesson_pustak {
  float: none;
  height: 195px;
}
/* line 338, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map a {
  display: block;
  text-decoration: none;
  color: #000;
  width: 545px;
  height: 127px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
}
/* line 347, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map a .lesson_zad {
  position: relative;
  width: 545px;
  height: 120px;
  background-color: #f8c67e;
  border: 3px solid black;
  border-radius: 45px;
}
/* line 354, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map a .lesson_zad img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 10px;
}
/* line 360, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map a .lesson_zad .lesson_title {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  height: 34px;
  margin-left: 20%;
  margin-top: 3%;
}
/* line 367, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map a .lesson_zad .lesson_title .lesson_title, .student_map a .lesson_zad .lesson_title span {
  vertical-align: middle;
}
/* line 369, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map a .lesson_zad .lesson_title span {
  line-height: 34px;
  display: block;
  vertical-align: middle;
}
/* line 373, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.student_map .lesson_zad:hover {
  border-radius: 45px;
  -moz-box-shadow: 0 0 15px #000;
  -webkit-box-shadow: 0 0 15px #000;
  box-shadow: 0 0 15px #000;
}

/* line 379, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.modal_dialog {
  position: fixed;
  overflow: auto;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  font-family: Viking;
}
/* line 392, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.modal_dialog .modal_button {
  font-family: Viking;
  font-weight: bold;
}

/* line 395, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.modal_dialog:target {
  opacity: 1;
  pointer-events: auto;
}
/* line 398, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.modal_dialog:target .modal_content {
  width: 1200px;
  height: 950px;
  position: relative;
  margin: 0 auto;
  color: #000;
  padding: 66px 20px 13px 20px;
  background: url("/student/bg_modal.png") no-repeat;
}
/* line 406, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.modal_dialog:target .modal_content .modal_header {
  width: 100%;
  height: 127px;
  text-align: center;
}
/* line 411, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.modal_dialog:target .modal_content .modal_header .modal_title h1 {
  font-size: 35px;
}
/* line 413, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.modal_dialog:target .modal_content .modal_header .modal_title h2 {
  margin-bottom: 26px;
}
/* line 415, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.modal_dialog:target .modal_content .modal_header .modal_close {
  position: absolute;
  top: 83px;
  right: 147px;
  width: 70px;
  height: 45px;
  background: url("/assets/student/xmark-386a0166e5d3603cc17569b008888fb09111d81bd4ace0f67620799eb0e873d8.png");
}
/* line 422, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.modal_dialog:target .modal_content .modal_header .modal_close a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 426, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.modal_dialog:target .modal_content .modal_story {
  text-align: justify;
  width: 900px;
  margin-top: -10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
}
/* line 436, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.modal_dialog:target .modal_content .modal_story p {
  line-height: 1.3em;
  font-size: 1.2em;
  font-family: Helvetica;
}
/* line 440, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.modal_dialog:target .modal_content .hint {
  float: right;
  margin-right: 130px;
  margin-top: -8px;
}
/* line 444, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.modal_dialog:target .modal_content .hint .button_hint {
  padding: 5px 5px;
  background-color: rgba(236, 236, 11, 0.82);
  border: solid 3px;
  border-radius: 20px;
}
/* line 449, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.modal_dialog:target .modal_content .hint .button_hint span, .modal_dialog:target .modal_content .hint .button_hint img {
  vertical-align: middle;
}
/* line 451, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.modal_dialog:target .modal_content .hint .hint_content {
  position: absolute;
  width: 270px;
  color: #fff;
  border: 1px solid #000;
  margin-top: 10px;
  margin-left: -113px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: Helvetica;
  display: none;
  z-index: 101;
}
/* line 463, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.modal_dialog:target .modal_content .modal_tag {
  background: rgba(255, 255, 255, 0.6);
  width: 110px;
  padding: 10px 21px;
  margin-left: -20px;
  margin-top: -58px;
  border-radius: 10px 10px 0px 0px;
}
/* line 470, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.modal_dialog:target .modal_content .modal_answer {
  width: 900px;
  margin-top: 83px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
  border-radius: 0px 20px 20px 20px;
  background: rgba(255, 255, 255, 0.6);
}
/* line 478, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.modal_dialog:target .modal_content .modal_answer .modal_text_area {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  font-size: 1.2em;
  resize: vertical;
  max-height: 180px;
  min-height: 120px;
}
/* line 486, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.modal_dialog:target .modal_content .modal_answer .button_send {
  float: right;
  margin-top: -52px;
  padding: 14px 31px;
  border-radius: 20px;
  border: solid 3px;
  color: #000;
  background-color: rgba(0, 156, 34, 0.81);
}

/* line 496, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message, .bg_profil, .bg_sidequest {
  position: relative;
  width: 1200px;
  height: 987px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-family: Viking;
  color: #000;
  background: url("/assets/student/bg_map-03dfcae91866b990f70e7c8ed3beacbed7d376ad518040f86a578f9e2f4af42f.png");
  z-index: 1;
}
/* line 507, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_message_title, .bg_message .student_profil_title, .bg_message .student_sidequest_title, .bg_profil .student_message_title, .bg_profil .student_profil_title, .bg_profil .student_sidequest_title, .bg_sidequest .student_message_title, .bg_sidequest .student_profil_title, .bg_sidequest .student_sidequest_title {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 100px;
  text-align: center;
  z-index: 2;
}
/* line 516, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .back_msg, .bg_message .backto_msg, .bg_profil .back_msg, .bg_profil .backto_msg, .bg_sidequest .back_msg, .bg_sidequest .backto_msg {
  position: absolute;
  background: url("/assets/student/back-6157859b0db230edc6f06777c8bc449d34225cbe90c8180e3524946a4ac33e32.png");
  width: 95px;
  height: 92px;
  margin-top: 92px;
  margin-left: 134px;
  z-index: 3;
}
/* line 524, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .back_msg a, .bg_message .backto_msg a, .bg_profil .back_msg a, .bg_profil .backto_msg a, .bg_sidequest .back_msg a, .bg_sidequest .backto_msg a {
  width: 95px;
  height: 92px;
}
/* line 527, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .back_msg span, .bg_message .backto_msg span, .bg_profil .back_msg span, .bg_profil .backto_msg span, .bg_sidequest .back_msg span, .bg_sidequest .backto_msg span {
  text-align: justify;
  width: 120px;
  margin-left: -35px;
  margin-top: 100px;
}
/* line 532, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .backto_msg, .bg_profil .backto_msg, .bg_sidequest .backto_msg {
  background: url("/assets/student/back_arrow-1a0c2c603c0fc4b5adb6073aa298d06b329f132f9531a71e99e6d402bdb0f127.png");
}
/* line 534, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_new_message, .bg_profil .student_new_message, .bg_sidequest .student_new_message {
  position: absolute;
  margin-left: auto;
  width: 550px;
  height: 38px;
  left: 50%;
  margin-left: -275px;
  margin-top: 200px;
  text-align: center;
  background-color: #FDAB37;
  border-radius: 23px;
  border: solid 3px;
}
/* line 546, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_new_message a, .bg_profil .student_new_message a, .bg_sidequest .student_new_message a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 10px;
}
/* line 555, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_new_message:hover, .bg_profil .student_new_message:hover, .bg_sidequest .student_new_message:hover {
  border-radius: 45px;
  -moz-box-shadow: 0 0 15px #000;
  -webkit-box-shadow: 0 0 15px #000;
  box-shadow: 0 0 15px #000;
}
/* line 561, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_message_content, .bg_message .student_sidequest_content, .bg_profil .student_message_content, .bg_profil .student_sidequest_content, .bg_sidequest .student_message_content, .bg_sidequest .student_sidequest_content {
  position: absolute;
  margin-top: 250px;
  left: 0;
  right: 0;
  padding: 10px;
  border-radius: 10px;
  direction: ltr;
  text-align: center;
  max-height: 600px;
  overflow-y: auto;
}
/* line 572, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_message_content table, .bg_message .student_sidequest_content table, .bg_profil .student_message_content table, .bg_profil .student_sidequest_content table, .bg_sidequest .student_message_content table, .bg_sidequest .student_sidequest_content table {
  margin-left: auto;
  margin-right: auto;
  width: 611px;
  border: solid 2px;
  border-radius: 10px;
  padding: 6px;
  border-spacing: 7px;
  background-color: #F9E6C9;
}
/* line 583, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_message_content table th, .bg_message .student_message_content table .btn_join, .bg_message .student_sidequest_content table th, .bg_message .student_sidequest_content table .btn_join, .bg_profil .student_message_content table th, .bg_profil .student_message_content table .btn_join, .bg_profil .student_sidequest_content table th, .bg_profil .student_sidequest_content table .btn_join, .bg_sidequest .student_message_content table th, .bg_sidequest .student_message_content table .btn_join, .bg_sidequest .student_sidequest_content table th, .bg_sidequest .student_sidequest_content table .btn_join {
  padding: 6px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #000;
  background-color: #FDAB37;
  font-weight: bold;
}
/* line 589, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_message_content table th a, .bg_message .student_message_content table .btn_join a, .bg_message .student_sidequest_content table th a, .bg_message .student_sidequest_content table .btn_join a, .bg_profil .student_message_content table th a, .bg_profil .student_message_content table .btn_join a, .bg_profil .student_sidequest_content table th a, .bg_profil .student_sidequest_content table .btn_join a, .bg_sidequest .student_message_content table th a, .bg_sidequest .student_message_content table .btn_join a, .bg_sidequest .student_sidequest_content table th a, .bg_sidequest .student_sidequest_content table .btn_join a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
  font-family: Viking;
  font-weight: bold;
}
/* line 597, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_message_content table .btn_join, .bg_message .student_sidequest_content table .btn_join, .bg_profil .student_message_content table .btn_join, .bg_profil .student_sidequest_content table .btn_join, .bg_sidequest .student_message_content table .btn_join, .bg_sidequest .student_sidequest_content table .btn_join {
  width: 135px;
  padding: 0px;
}
/* line 600, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_message_content table tr, .bg_message .student_sidequest_content table tr, .bg_profil .student_message_content table tr, .bg_profil .student_sidequest_content table tr, .bg_sidequest .student_message_content table tr, .bg_sidequest .student_sidequest_content table tr {
  height: 26px;
}
/* line 602, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_message_content table tr td, .bg_message .student_sidequest_content table tr td, .bg_profil .student_message_content table tr td, .bg_profil .student_sidequest_content table tr td, .bg_sidequest .student_message_content table tr td, .bg_sidequest .student_sidequest_content table tr td {
  border-radius: 5px;
  background-color: rgba(255, 207, 31, 0.75);
  box-shadow: 1px 1px 3px #000;
}
/* line 606, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_message_content table tr .table_button, .bg_message .student_sidequest_content table tr .table_button, .bg_profil .student_message_content table tr .table_button, .bg_profil .student_sidequest_content table tr .table_button, .bg_sidequest .student_message_content table tr .table_button, .bg_sidequest .student_sidequest_content table tr .table_button {
  width: 100px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #000;
  background-color: #FDAB37;
  text-align: center;
}
/* line 612, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_message_content table tr .table_button a, .bg_message .student_sidequest_content table tr .table_button a, .bg_profil .student_message_content table tr .table_button a, .bg_profil .student_sidequest_content table tr .table_button a, .bg_sidequest .student_message_content table tr .table_button a, .bg_sidequest .student_sidequest_content table tr .table_button a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  display: block;
  width: 100%;
  height: 100%;
  font-family: Viking;
}
/* line 620, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_message_show, .bg_message .student_new_message_content, .bg_message .student_sidequest_show, .bg_profil .student_message_show, .bg_profil .student_new_message_content, .bg_profil .student_sidequest_show, .bg_sidequest .student_message_show, .bg_sidequest .student_new_message_content, .bg_sidequest .student_sidequest_show {
  position: absolute;
  margin-top: 250px;
  left: 0;
  right: 0;
  padding: 10px;
  border-radius: 10px;
  width: 611px;
  background-color: #F9E6C9;
  border: solid 2px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  max-height: 600px;
  overflow-y: auto;
}
/* line 635, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_message_show h3, .bg_message .student_message_show label, .bg_message .student_new_message_content h3, .bg_message .student_new_message_content label, .bg_message .student_sidequest_show h3, .bg_message .student_sidequest_show label, .bg_profil .student_message_show h3, .bg_profil .student_message_show label, .bg_profil .student_new_message_content h3, .bg_profil .student_new_message_content label, .bg_profil .student_sidequest_show h3, .bg_profil .student_sidequest_show label, .bg_sidequest .student_message_show h3, .bg_sidequest .student_message_show label, .bg_sidequest .student_new_message_content h3, .bg_sidequest .student_new_message_content label, .bg_sidequest .student_sidequest_show h3, .bg_sidequest .student_sidequest_show label {
  padding: 6px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #000;
  background-color: #FDAB37;
  font-weight: bold;
}
/* line 641, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_message_show p, .bg_message .student_new_message_content p, .bg_message .student_sidequest_show p, .bg_profil .student_message_show p, .bg_profil .student_new_message_content p, .bg_profil .student_sidequest_show p, .bg_sidequest .student_message_show p, .bg_sidequest .student_new_message_content p, .bg_sidequest .student_sidequest_show p {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 207, 31, 0.75);
  box-shadow: 1px 1px 3px #000;
}
/* line 646, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_new_message_content, .bg_message .student_sidequest_show, .bg_profil .student_new_message_content, .bg_profil .student_sidequest_show, .bg_sidequest .student_new_message_content, .bg_sidequest .student_sidequest_show {
  padding: 15px;
  overflow-x: hidden;
}
/* line 649, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_new_message_content textarea, .bg_message .student_new_message_content input, .bg_message .student_sidequest_show textarea, .bg_message .student_sidequest_show input, .bg_profil .student_new_message_content textarea, .bg_profil .student_new_message_content input, .bg_profil .student_sidequest_show textarea, .bg_profil .student_sidequest_show input, .bg_sidequest .student_new_message_content textarea, .bg_sidequest .student_new_message_content input, .bg_sidequest .student_sidequest_show textarea, .bg_sidequest .student_sidequest_show input {
  max-width: 100%;
  min-width: 100%;
}
/* line 652, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_new_message_content textarea, .bg_message .student_sidequest_show textarea, .bg_profil .student_new_message_content textarea, .bg_profil .student_sidequest_show textarea, .bg_sidequest .student_new_message_content textarea, .bg_sidequest .student_sidequest_show textarea {
  height: 200px;
}
/* line 654, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_new_message_content .btn_send, .bg_message .student_sidequest_show .btn_send, .bg_profil .student_new_message_content .btn_send, .bg_profil .student_sidequest_show .btn_send, .bg_sidequest .student_new_message_content .btn_send, .bg_sidequest .student_sidequest_show .btn_send {
  margin-top: 10px;
  float: right;
  width: 119px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #000;
  background-color: #FDAB37;
}
/* line 662, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_message .student_new_message_content .btn_send input, .bg_message .student_sidequest_show .btn_send input, .bg_profil .student_new_message_content .btn_send input, .bg_profil .student_sidequest_show .btn_send input, .bg_sidequest .student_new_message_content .btn_send input, .bg_sidequest .student_sidequest_show .btn_send input {
  display: block;
  width: 100%;
  height: 100%;
  font-family: Viking;
  background-color: #FDAB37;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

/* line 675, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_profil .navbar_student_profil {
  position: absolute;
  top: 251px;
  left: 204px;
}
/* line 679, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_profil .navbar_student_profil ul {
  width: 1000px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* line 685, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_profil .navbar_student_profil ul li {
  float: left;
  font-family: Viking;
  font-weight: bold;
  font-size: 1em;
  margin-right: -6px;
}
/* line 691, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_profil .navbar_student_profil ul li a {
  display: inline-block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-left: solid 3px;
  border-top: solid 3px;
  border-right: solid 3px;
  border-radius: 15px 15px 0px 0px;
  background-color: #f8c67e;
}
/* line 702, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_profil .navbar_student_profil ul li a:hover {
  background-color: #D69A43;
}
/* line 704, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_profil .student_profil_content {
  position: absolute;
  top: 300px;
  left: 204px;
  background-color: #f8c67e;
  width: 842px;
  max-height: 594px;
  border: solid 3px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 20px;
  text-align: center;
  overflow-y: auto;
}
/* line 718, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_profil .student_profil_content table {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  border: solid 2px;
  border-radius: 10px;
  padding: 6px;
  border-spacing: 7px;
  background-color: #F9E6C9;
}
/* line 727, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_profil .student_profil_content table .nostyle {
  background-color: #F9E6C9;
  box-shadow: none;
}
/* line 730, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_profil .student_profil_content table th {
  padding: 6px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #000;
  background-color: #FDAB37;
}
/* line 736, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_profil .student_profil_content table tr td {
  border-radius: 5px;
  background-color: rgba(255, 207, 31, 0.75);
  box-shadow: 1px 1px 3px #000;
}
/* line 740, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_profil .student_profil_content table tr .col1 {
  width: 80px;
}
/* line 742, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_profil .student_profil_content table tr .col2 {
  width: 130px;
}
/* line 744, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_profil .student_profil_content table tr .col3 {
  width: 180px;
}
/* line 746, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_profil .student_profil_content table tr .col4 {
  width: 130px;
}
/* line 748, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_profil .student_profil_content table tr .btn_details {
  width: 180px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #000;
  background-color: #FDAB37;
  text-align: center;
}
/* line 754, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_profil .student_profil_content table tr .btn_details button {
  display: block;
  width: 100%;
  height: 100%;
  font-family: Viking;
  background-color: #FDAB37;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
/* line 764, /home/ubuntu/workspace/app/assets/stylesheets/students.css.sass.erb */
.bg_profil .student_profil_content table .details_main td {
  background-color: rgba(255, 211, 56, 0.34);
}
/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *
 */
/* line 18, /home/ubuntu/workspace/app/assets/stylesheets/application.css.sass */
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Viking;
  src: url('<%= asset_path("VIKING-PL.otf")%>');
  src: url('<%= asset_path("VIKING-PL.ttf")%>');
}
